@font-face {
  font-family: "iconfont"; /* Project id 3285015 */
  src: url('iconfont.woff2?t=1652596744534') format('woff2'),
       url('iconfont.woff?t=1652596744534') format('woff'),
       url('iconfont.ttf?t=1652596744534') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xihuan:before {
  content: "\e65e";
}

.icon-shijian:before {
  content: "\e64d";
}

.icon-fenlei:before {
  content: "\e65c";
}

.icon-zuozhe:before {
  content: "\e65d";
}

.icon-gerenzhongxin:before {
  content: "\e614";
}

.icon-zhuye:before {
  content: "\e605";
}

.icon-wenzhangguanli:before {
  content: "\e634";
}

.icon-wode:before {
  content: "\e600";
}

.icon-leimupinleifenleileibie2:before {
  content: "\e7f8";
}

.icon-gouwuche:before {
  content: "\e636";
}

